<div class="row">
  <div class="col-md-8">
    <h1>Welcome to LocalBiz!</h1>
    <p><b>Perhaps a map should go here...</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus ligula in dolor vestibulum, id mollis diam viverra. Duis in condimentum nulla, et suscipit tortor. Vestibulum sit amet elementum sapien, ut porta dui. Fusce ullamcorper arcu lacus, eget iaculis augue egestas ut. Nunc consequat ut quam sit amet blandit. Suspendisse at feugiat sapien. Morbi metus tellus, tempor dictum fringilla in, suscipit sed risus. Proin sem arcu, porta quis mauris nec, varius fermentum sem. Morbi ut pharetra magna. Integer luctus massa id dui sagittis pretium. Mauris ornare sagittis elit ac elementum. Nulla et turpis vel augue consequat volutpat. </p>
  </div>
  <div class="col-md-4">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus ligula in dolor vestibulum, id mollis diam viverra. Duis in condimentum nulla, et suscipit tortor. Vestibulum sit amet elementum sapien, ut porta dui. Fusce ullamcorper arcu lacus, eget iaculis augue egestas ut. Nunc consequat ut quam sit amet blandit. Suspendisse at feugiat sapien. Morbi metus tellus, tempor dictum fringilla in, suscipit sed risus. Proin sem arcu, porta quis mauris nec, varius fermentum sem. Morbi ut pharetra magna. Integer luctus massa id dui sagittis pretium. Mauris ornare sagittis elit ac elementum. Nulla et turpis vel augue consequat volutpat. </p>
  </div>
</div>
