<header class="navbar navbar-inverse">
  <section class="navbar-header">
    <%= link_to t('title'), root_path, class: 'navbar-brand' %>
    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </section>
  <section class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <% if user_signed_in? %>
          <%= link_to t('sign_out'), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t('sign_in'), new_user_session_path %>
        <% end %>
      </li>
    </ul>
</header>
